html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.page {
  width: 100%;
  height: 100%;
  background-color: hsl(231, 32%, 91%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -2;
  overflow: hidden;
}

.theme {
  display: flex;
  align-self: flex-end;
  writing-mode: vertical-lr;
}

.theme div {
  display: flex;
  margin: 5px; /* Adjust margin between items as needed */
  margin-bottom: 30px;
  transform: rotate(
    180deg
  ); /* Rotate each item 180 degrees to make the text readable */
}

.theme p {
  margin: 0;
  font-family: neueMontreal;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 5px;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid black;
  outline: none;
  margin: 0;
  padding: 0;
}

input[type="checkbox"]:checked {
  background-color: black;
}

.frame {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative; /* Relative positioning for proper z-index usage */
  border: 1.2px black solid;
  width: calc(100% - 120px);
  height: calc(100% - 60px);
  margin-right: 26.8px;
  padding-left: 20px;
  user-select: none;
  z-index: 10;
}

.vanta-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* Move it to the background */
}

h1 {
  font-family: neueMontrealLight;
  font-size: 60px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.subTitle {
  margin: 0px;
  font-family: neueMontrealLight;
}

ul {
  font-family: neueMontrealBold;
  padding: 0;
  list-style: none;
  margin-top: 40px;
}

li {
  padding-bottom: 5px;
}

a {
  font-size: 14px;
  text-decoration: none;
}

.content {
  width: 70%;
  display: flex;
  align-self: flex-start;
  margin-top: 80px;
  margin-right: 20px;
  max-height: calc(100% - 80px); 
  overflow-y: auto; /* Enable vertical scrolling when necessary */

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.content_presentation {
  display: flex;
  align-self: flex-end;
  justify-content: end;
  text-align: left;
  width: 20%;
  margin-top: 80px;
  margin-right: 20px;
  max-height: calc(100% - 80px); /* Adjust max-height to fit within the frame */



}
.content::-webkit-scrollbar {
  display: none;
}

.presentationText {
  align-self: flex-end;
  margin-top: auto; /* Push the presentationText to the bottom of the column */
  margin-bottom: 20px; /* Adjust as needed */
width: 200px;
  font-size: 14px;
  font-family: neueMontrealBold;
}

a:any-link {
  color: #000;
}

a:hover {
  color: rgb(194, 192, 189);
}

.Projects {
  text-align: end;
  font-family: neueMontreal;
  overflow-y: auto;
}
.project {
  text-align: end;
  font-size: 14px;
  margin-right: 20px;
}
.project_title {
  margin-top: 20px;
  font-size: 75px;
  margin-right: 20px;
}
.project_info {
  text-align: end;
  margin-right: 20px;
}

.info {
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  font-family: neueMontreal;
  font-size: 30px;
}

.infoLink {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.infoLink_div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* svg:hover{
  fill: rgb(194, 192, 189);
} */
svg {
  fill: #000;
}
.contact_div {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-family: neueMontreal;
  margin-right: 20px;
  font-size: 14px;
  text-transform: uppercase;
  text-align: end;
}
.contact_link {
  font-family: neueMontrealBold;
  font-size: 30px;
}

.pageLinks:hover{
  color:rgb(194, 192, 189) ;
}
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
  }
  .frame {
    width: 100%;
    flex-direction: column;
    
  
   
  }
  .contact_div {
    align-self: flex-end;
    font-size: 14px;
    margin-bottom: 20px;
  }
  .contact_link {
    font-family: neueMontrealLight;
    font-size: 15px;
  }
  svg {
    width: 14px;
  }
  .infoLink {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .info {
    align-self: flex-end;
  }
  .content{
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
   

  }
  .project_title {
    font-size: 20px;
  }
  .project_info {
    font-size: 10px;
  }
  .projectDiv {
    margin-bottom: 20px;
  }
  .content_presentation{
    display: flex;
    align-self: flex-end;
    margin-top: 0;
    width: 80%;
    overflow: auto;
margin-bottom: 20px;

  
  
}
.presentationText {
  align-self: flex-end;
  
  margin-bottom: 20px; /* Adjust as needed */
  margin-left: 0;
  font-size: 25px;
  font-family: neueMontrealBold;
  width: 100%;
  overflow: auto; /* Enable vertical scrolling in mobile view */


}
}



@media screen and (max-width:1000px) and (orientation: landscape) {
  ul{
    margin-top: 20px;
  }
  .content_presentation{
    width: 50%;
  }
  .content{
    width: 50%;
  }
  .project_title{
    font-size: 45px;
  }
  .presentationText {

  width: 50%;
  
  }
}