@font-face {
  font-family: "neueMontreal";
  src: local("neueMontreal"),
    url("./fonts/NeueMontreal-Medium.otf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "neueMontrealLight";
  src: local("neueMontrealLight"),
    url("./fonts/NeueMontreal-Light.otf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "neueMontrealBold";
  src: local("neueMontrealBold"),
    url("./fonts/NeueMontreal-Bold.otf") format("truetype");
  font-weight: normal;
}





:root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}